# common
.*
*~
!.gitignore

# dotfiles
!/.dockerignore
!/.env
!/.gitlab-ci.yml
!/.gitmodules
!/.landscape.yml
!/.pre-commit-config.yaml
!/.travis.yml

# python
*.pyc

# dev
/*.egg-info
/pip-wheel-metadata
