# common
.*
*~
!.gitignore
!.dockerignore

# dotfiles
!/.env
!/.gitlab-ci.yml
!/.gitmodules
!/.landscape.yml
!/.pre-commit-config.yaml
!/.travis.yml

# python
*.pyc

# dev
/*.egg-info
/build
/dist
/pip-wheel-metadata
